<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.CSharp" version="4.3.0" targetFramework="net46" />
  <package id="Syroot.IO.BinaryData" version="1.0.3" targetFramework="net46" />
  <package id="Syroot.Maths" version="1.1.0" targetFramework="net46" />
  <package id="Syroot.NintenTools.Byaml" version="2.0.0" targetFramework="net46" />
  <package id="Syroot.NintenTools.MarioKart8" version="0.2.0-alpha4" targetFramework="net451" />
  <package id="System.Dynamic.Runtime" version="4.3.0" targetFramework="net46" />
</packages>